# Macro placement for convolution accelerator
# Format: instance_name x_location y_location orientation
# Die area: 5000 x 4000 um
# Instance names match Yosys flattened hierarchy (underscore prefix for wrapper instances)

# SRAM0 macros (4x sky130_sram_2kbyte_1rw1r_32x512_8 - 683.1 x 416.54 um each)
# Hierarchy after Yosys flatten: _sram0.u_sram0.SERIAL_MEMORY[i].PARALLEL_MEMORY[j].genblk1.<inst>
# Placed on left side
_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    100     N
_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    600     N
_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1100    N
_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1600    N

# SRAM1 macros (16x sky130_sram_1kbyte_1rw1r_32x256_8 - 479.78 x 397.5 um each)
# Hierarchy after Yosys flatten: _sram1.u_sram1.SERIAL_MEMORY[i].PARALLEL_MEMORY[j].genblk1.genblk1.<inst>
# Note: Two genblk1 levels due to nested if-else generate blocks
# Placed in 4 columns
# Column 1: x=1000
_sram1.u_sram1.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    100     N
_sram1.u_sram1.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    580     N
_sram1.u_sram1.SERIAL_MEMORY[2].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1060    N
_sram1.u_sram1.SERIAL_MEMORY[3].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1540    N

# Column 2: x=1600
_sram1.u_sram1.SERIAL_MEMORY[4].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    100     N
_sram1.u_sram1.SERIAL_MEMORY[5].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    580     N
_sram1.u_sram1.SERIAL_MEMORY[6].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    1060    N
_sram1.u_sram1.SERIAL_MEMORY[7].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    1540    N

# Column 3: x=2200
_sram1.u_sram1.SERIAL_MEMORY[8].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    2200    100     N
_sram1.u_sram1.SERIAL_MEMORY[9].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    2200    580     N
_sram1.u_sram1.SERIAL_MEMORY[10].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2200    1060    N
_sram1.u_sram1.SERIAL_MEMORY[11].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2200    1540    N

# Column 4: x=2800
_sram1.u_sram1.SERIAL_MEMORY[12].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    100     N
_sram1.u_sram1.SERIAL_MEMORY[13].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    580     N
_sram1.u_sram1.SERIAL_MEMORY[14].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    1060    N
_sram1.u_sram1.SERIAL_MEMORY[15].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    1540    N
