# Macro placement for convolution accelerator
# Format: instance_name x_location y_location orientation
# Die area: 6000 x 3000 um (increased for routing)

# SRAM0 macros (4x sky130_sram_2kbyte_1rw1r_32x512_8 - 683.1 x 416.54 um each)
# Placed on left side with increased vertical spacing for routing channels
# Hierarchy: conv_accelerator_top.u_sram0 (wrapper) -> u_sram0 (memory_generator) -> generate blocks
u_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    150     N
u_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    750     N
u_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1350    N
u_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1950    N

# SRAM1 macros (16x sky130_sram_1kbyte_1rw1r_32x256_8 - 479.78 x 397.5 um each)
# Placed in 4 columns with wider routing channels between
# Hierarchy: conv_accelerator_top.u_sram1 (wrapper) -> u_sram1 (memory_generator) -> generate blocks
# NOTE: SRAM1 has double genblk1 in hierarchy (genblk1.genblk1)

# Column 1: x=1000 (700um gap from SRAM0)
u_sram1.u_sram1.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    150     N
u_sram1.u_sram1.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    700     N
u_sram1.u_sram1.SERIAL_MEMORY[2].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1250    N
u_sram1.u_sram1.SERIAL_MEMORY[3].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1800    N

# Column 2: x=1700 (700um gap between columns)
u_sram1.u_sram1.SERIAL_MEMORY[4].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1700    150     N
u_sram1.u_sram1.SERIAL_MEMORY[5].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1700    700     N
u_sram1.u_sram1.SERIAL_MEMORY[6].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1700    1250    N
u_sram1.u_sram1.SERIAL_MEMORY[7].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1700    1800    N

# Column 3: x=4000 (large routing channel in center ~1800um)
u_sram1.u_sram1.SERIAL_MEMORY[8].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    4000    150     N
u_sram1.u_sram1.SERIAL_MEMORY[9].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    4000    700     N
u_sram1.u_sram1.SERIAL_MEMORY[10].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4000    1250    N
u_sram1.u_sram1.SERIAL_MEMORY[11].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4000    1800    N

# Column 4: x=4700 (700um gap between columns)
u_sram1.u_sram1.SERIAL_MEMORY[12].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4700    150     N
u_sram1.u_sram1.SERIAL_MEMORY[13].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4700    700     N
u_sram1.u_sram1.SERIAL_MEMORY[14].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4700    1250    N
u_sram1.u_sram1.SERIAL_MEMORY[15].PARALLEL_MEMORY[0].genblk1.genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   4700    1800    N
