# Macro placement for convolution accelerator
# Format: instance_name x_location y_location orientation
# Die area: 5000 x 4000 um

# SRAM0 macros (4x sky130_sram_2kbyte_1rw1r_32x512_8 - 683.1 x 416.54 um each)
# Hierarchy: conv_accelerator_top -> u_sram0 -> u_sram0 (memory_generator_sky130_64_1024_2)
# memory_generator_sky130_64_1024_2 has: NUM_SERIAL_MEMORIES=2, NUM_PARALLEL_MEMORIES=2
# Placed on left side
u_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    100     N
u_sram0.u_sram0.SERIAL_MEMORY[0].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    600     N
u_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1100    N
u_sram0.u_sram0.SERIAL_MEMORY[1].PARALLEL_MEMORY[1].genblk1.sky130_sram_2kbyte_1rw1r_32x512_8_i    100    1600    N

# SRAM1 macros (16x sky130_sram_1kbyte_1rw1r_32x256_8 - 479.78 x 397.5 um each)
# Hierarchy: conv_accelerator_top -> u_sram1 -> u_sram1 (memory_generator_sky130_32_4096_1)
# memory_generator_sky130_32_4096_1 has: NUM_SERIAL_MEMORIES=16, NUM_PARALLEL_MEMORIES=1
# Placed in 4 columns
# Column 1: x=1000
u_sram1.u_sram1.SERIAL_MEMORY[0].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    100     N
u_sram1.u_sram1.SERIAL_MEMORY[1].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    580     N
u_sram1.u_sram1.SERIAL_MEMORY[2].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1060    N
u_sram1.u_sram1.SERIAL_MEMORY[3].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1000    1540    N

# Column 2: x=1600
u_sram1.u_sram1.SERIAL_MEMORY[4].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    100     N
u_sram1.u_sram1.SERIAL_MEMORY[5].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    580     N
u_sram1.u_sram1.SERIAL_MEMORY[6].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    1060    N
u_sram1.u_sram1.SERIAL_MEMORY[7].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    1600    1540    N

# Column 3: x=2200
u_sram1.u_sram1.SERIAL_MEMORY[8].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    2200    100     N
u_sram1.u_sram1.SERIAL_MEMORY[9].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i    2200    580     N
u_sram1.u_sram1.SERIAL_MEMORY[10].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2200    1060    N
u_sram1.u_sram1.SERIAL_MEMORY[11].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2200    1540    N

# Column 4: x=2800
u_sram1.u_sram1.SERIAL_MEMORY[12].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    100     N
u_sram1.u_sram1.SERIAL_MEMORY[13].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    580     N
u_sram1.u_sram1.SERIAL_MEMORY[14].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    1060    N
u_sram1.u_sram1.SERIAL_MEMORY[15].PARALLEL_MEMORY[0].genblk1.sky130_sram_1kbyte_1rw1r_32x256_8_i   2800    1540    N
